.player {
    $height: 140px;
    color: white;
    height: $height;
    left: 0;
    margin-top: -($height / 2);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateZ(0);
    z-index: zIndex(player);

    &[data-fixed] {
        transform: none;
    }

    &__fixed,
    &__wrapper {
        height: $height;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__fixed {

        &:before {
            border-radius: 10%;
            box-shadow: 0 0 20px black;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity speed() ease();
            width: 100%;
            z-index: zIndex(player) - 1;
        }

        // .player--fixed & {
        [data-fixed] & {
            position: fixed;
            transform: none;

            &:before {
                opacity: 1;
            }
        }

        // .player--fixed--top & {
        [data-fixed="top"] & {
            top: 0;
        }

        // .player--fixed--bottom & {
        [data-fixed="bottom"] & {
            bottom: 0;
            top: auto;
        }
    }

    &__wrapper {
        overflow: hidden;
        padding: space() space() space(small);
        z-index: zIndex(player) + 1;

        > *:not(.player__background) {
            opacity: 0;
            transform: translateX(space(small));
            transition: speed(fast) ease();
            transition-property: opacity transform;
        }

        .player--active & > * {
            opacity: 1;
            transform: translateX(0);

            // 2++ = Do not target .player__background.
            @for $i from 2 through 4 {

                &:nth-child(#{$i}) {
                    transition-delay: delay(fast) * ($i - 1);
                }
            }
        }
    }

    &__background {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0);
        transform-origin: left top;
        transition: transform speed() ease();
        width: 100%;

        &:before {
            background: color(teal);
            border-radius: 50%;
            content: '';
            display: block;
            height: 0;
            padding-top: 216%;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
            width: 216%;
        }

        .player--active & {
            transform: scale(1);
        }
    }

    &__title {
        @include ellipsis;
        font: {
            size: 14px;
            weight: 300;
        }
        margin: 0 0 space(small);
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__button {
        @include resetButton;
        cursor: pointer;
        outline: none;

        &--back {
            transform: rotate(180deg);
        }

        &:hover,
        &:focus {

            .player__icon {
                fill: color(teal, dark);
            }
        }
    }

    &__icon {
        fill: white;
        height: space();
        transition: fill speed(fast) ease();
        width: space();
    }

    &__time {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__progress {
        appearance: none;
        background: color(teal, light);
        border: 0;
        flex-basis: 100%;
        height: 2px;
        margin: space(tiny) 0;

        // Background color.

        // Firefox.
        & {
            background: color(teal, light);
        }

        // Chrome.
        &::-webkit-progress-bar {
            background: color(teal, light);
        }

        // Forground color.

        // IE.
        & {
            color: white;
        }

        // Firefox.
        &::-moz-progress-bar {
            background: white;
        }

        // Chrome.
        &::-webkit-progress-value {
            background: white;
        }
    }

    &__elapsed,
    &__total {
        font-size: 11px;
    }

    &__total {
        color: color(teal, light);
    }
}
